/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-image: url('./main.jpg');
  background-position: center;  
  background-size: cover;
  height: 85vh;
  padding: 2dp;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 27.5%;
}
